/*
* @project: My Resume;
* @author: 	Giorgio Fellipe;
*/

$customFont: 'Lato', sans-serif;
$defaultFont: 'Arial';
$baseWidth: 900px;

/*------------------------------------------------------------------
    ---------------------
   |     COLOR SCHEME    |
   |project_color_pallete|
   |        .png         |
    ---------------------
Used: http://html-color-codes.info/colors-from-image/;      
From left
 _______________________
|Color 		| HEX		|
|-----------------------|
|Old pink 	| #F16272   |
|Salmon		| #FF555A   |
|Glacial WH.| #F7F6F6   |
|Baby Blue  | #00A5E7	|
|Blue       | #009BD9	|
|_______________________| 
-------------------------------------------------------------------*/

$oldPink: #F16272;
$salmon: #FF555A;
$glacialWhite: #F7F6F6;
$babyBlue: #00A5E7;
$blue: #009BD9;
$white: #ffffff;
$darkGrey: #363b3f;
$lightGrey: #b6b7b7;

@mixin animate($duration, $animation, $delay){
	-webkit-transition: all $duration $animation, $delay;
	-moz-transition: 	all $duration $animation, $delay;
	-o-transition: 		all $duration $animation, $delay;
	-ms-transition: 	all $duration $animation, $delay;
	transition: 		all $duration $animation, $delay;
}

@mixin animationDelay($delay){
	animation-delay: 		 $delay;
	-webkit-animation-delay: $delay;
	-moz-animation-delay: 	 $delay;
	-o-animation-delay: 	 $delay;
	-ms-animation-delay: 	 $delay;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	 -moz-border-radius: $radius;
	  -ms-border-radius: $radius;
	   -o-border-radius: $radius;
	      border-radius: $radius;
}

@mixin boxshadow($hshadow, $wshadow, $blur, $spread, $color){
	-webkit-box-shadow: $hshadow $wshadow $blur $spread $color;
	-moz-box-shadow: 	$hshadow $wshadow $blur $spread $color;
	-o-box-shadow: 		$hshadow $wshadow $blur $spread $color;
	-ms-box-shadow: 	$hshadow $wshadow $blur $spread $color;
	box-shadow: 		$hshadow $wshadow $blur $spread $color;
}

@mixin textshadow($x, $y, $blur, $color){
	-webkit-text-shadow: $x $y $blur $color;
	   -moz-text-shadow: $x $y $blur $color;
		 -o-text-shadow: $x $y $blur $color;
		-ms-text-shadow: $x $y $blur $color;
			text-shadow: $x $y $blur $color;
}

@mixin scale($x,$y){
	-webkit-transform: 	scale($x,$y);
	-moz-transform: 	scale($x,$y);
	-o-transform: 		scale($x,$y);
	-ms-transform: 		scale($x,$y);
	transform: 			scale($x,$y);
}

@mixin opacity($value){
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" $value * 100 ")";
	filter: alpha(opacity=$value);
	opacity: $value;
}

@mixin transitionproperty($value) {
	-webkit-transition-property: $value; 
	-moz-transition-property: $value; 
	-o-transition-property: $value; 
	transition-property: $value; 
}

@mixin transitionduration($value) {
	-webkit-transition-duration: $value; 
	-moz-transition-duration: $value; 
	-o-transition-duration: $value; 
	transition-duration: $value; 
}

@mixin transitiontiming($value) {
	-webkit-transition-timing-function: $value; 
	-moz-transition-timing-function: $value; 
	-o-transition-timing-function: $value; 
	transition-timing-function: $value; 
}

/*  ---------------------
   |      GENERAL        |
    ---------------------  */
body { 
	color: $darkGrey;
	background: $glacialWhite; 
}

section {
	.centered { 
		margin: 0 auto; float: none; 
	}
	&.colored {
		h1,h2,h3,h4,p{
			color: $white; 
		}
	}
	&.fixed { 
		padding: 120px 0 !important; 
	}
}

.btn, .filter a { 
	font-family: $customFont; 
	font-weight: 400; 
	font-size: 14px; 
	text-decoration: none; 
	background: $glacialWhite; 
	color: $lightGrey; 
	border: 1px solid $lightGrey; 
	padding: 18px; 
	@include animate(0.3s, ease-in, 0s);
	&:hover, &:focus{
		background-color: $babyBlue; 
		border-color: $babyBlue; 
		color: $white; 
	}
}

// .btn:hover, .filter a:hover, .btn:focus, .filter a:focus { 
// 	background-color: #00A5E7; 
// 	border-color: #00A5E7; 
// 	color: white; 
// }

.borderBtn, .contactform button { 
	font-family: $customFont; 
	font-weight: 700; 
	font-size: 14px; 
	text-decoration: none; 
	color: $glacialWhite; 
	border: 1px solid white; 
	padding: 18px 30px 18px 30px; 
	display: inline-block; 
	@include border-radius(3px);
	@include animate(0.3s, ease-in, 0s);
	&:hover, &:focus{
		background-color: $glacialWhite; 
		color: $babyBlue; 
		text-decoration: none; 
	}
}

.borderBtn:hover span {	
	background:url(../images/2.jpg) 50% no-repeat fixed; 
	-webkit-text-fill-color: transparent; 
	-webkit-background-clip: text; 
}

.hidethis { 
	@include opacity(0);
}

img { 
	max-width: 100%; 
	height: auto; 
}

.clear { 
	clear: both; 
}

.section { 
	padding: 30px 0 50px 0px; 
	h1, h2, h3, h4 { 
		font-family: $customFont; 
		font-weight: 700; 
		color: $babyBlue; 
	}
	p { 
		font-family: $customFont; 
		font-weight: 400; 
		font-size: 15px; 
		line-height: 24px; 
	}
	.heading { 
		text-align: center; 
		padding-bottom: 40px; 
	}
	.profilePic { 
		text-align: center; 
		margin: 0 auto; 
		float: none; 
		max-width: 30%;
	}
	.divider { 
		width: 70%; 
		height: 1px; 
		background: $babyBlue; 
		margin: 0 auto; 
	}
}


/*  ---------------------
   |         HOME        |
    ---------------------  */
#home {
	background:url(../images/2L.jpg) 50% no-repeat fixed; 
	color: $white; 
	height: auto; 
	margin: 0 auto; 
	padding: 0; 
}
.welcome-message { 
	position: absolute; 
	width: 100%; 
	height: auto; 
	top: 50%; 
	margin-top: -125px; 
	z-index: 10; 
	text-align: center; 

	.heading { 
		padding: 18px 0px; 
	}
	p { 
		font-family: $customFont; 
		font-size: 55px; 
		color: $white; 
		@include textshadow(0px, 2px, 5px, rgba(0, 0, 0, 0.4));
		&.small { 
			font-family: $customFont; 
			font-size: 24px; 
			color: $white; 
		}
	}
	.borderBtn, .contactform button { 
		margin: 5px 0; 
		@include textshadow(0px, 2px, 5px, rgba(0, 0, 0, 0.4)); 
		&:hover, &:focus {
			@include textshadow(0px, 2px, 5px, transparent); 
		}
	}
}


/*  ---------------------
   |         MENU        |
    ---------------------  */
.navbar-flat {
	background: $babyBlue; 
	margin-bottom: 0px; 
	@include border-radius(0px); 
	// @include boxshadow(0px, 0px, 5px, 2px, rgba(0, 0, 0, 0.4)); 

	.navbar-collapse { 
		text-align: center; 
		.icon-bar { 
			background: $white; 
		}
	}
	ul { 
		float: none; 
	}
	li { 
		display: inline-block; 
		float: none; 
		a {
			&:hover, &:focus {
				background: $blue; 
				color: $white; 
			}
		}
		&.active a {
			background: $blue; 
			color: $white; 
		}
	}
	a { 
		font-family: $customFont; 
		font-weight: 700; 
		color: $glacialWhite; 
		@include animate(0.3s, ease-in, 1s); 
	}
	.navbar-brand { 
		display: none; 
	}
}

/*  ---------------------
   |        ABOUT        |
    ---------------------  */
section.me { 
	background: $oldPink; 
	color: $glacialWhite; 
	padding: 70px 0; 
	h1 { 
		color: $babyBlue; 
	}
	.borderBtn {
		margin: 0;
	}
}

/*  ---------------------
   |       SKILLS        |
    ---------------------  */
.skills { 
	background: $glacialWhite; 
	@include boxshadow(0px, 0px, 5px, 2px, rgba(0, 0, 0, 0.4));
	h2, h4 { 
		color: $babyBlue !important; 
	}
}

.skill { 
	margin: 0 auto 20px auto; 
	float: none; 
	text-align: center; 
}

.pie-graph { 
	position: relative; 
	width: 150px; 
	height: 150px; 
	display: inline-block; 
	margin: 0 0 25px 0px; 
	text-align: center; 

	canvas { 
		position: absolute; 
		left: 0px;
		top: 0px; 
	}
	.percent { 
		font-family: $customFont; 
		color: $darkGrey; 
		line-height: 152px; 
		display: inline-block; 
		font-size: 35px; 
		&:after { 
			content: '%'; 
		}
	}
}


/*  ---------------------
   |     EXPERIENCE      |
    ---------------------  */
section.experience {
	background: $oldPink; 
	height: 700px;
	h2 {
		color: $glacialWhite;
	}
}
.experience-line { 
	float: left; 
	width: 100%; 
	padding: 50px 0 42px 0px;  

	ul { 
		float: left;
		width: 100%; 
	}
	li { 
		float: left; 
		width: 50%; 
		position: relative; 
		@include opacity(0);
	}
	.bubble-arrow { 
		width: 16px; 
		height: 25px; 
		position: absolute; 
		top: 20px; 
		right: -10px; 
	}
	.bubble { 
		color: $darkGrey; 
		float: right; 
		width: 64.4%; 
		margin: 0px 30px 0 0px; 
		padding: 22px 32px 25px 30px; 
		background: $glacialWhite; 
		position: relative; 
		@include border-radius(6px); 
		@include animate(0.2s, linear, 1s); 
		&:hover { 
			background: $babyBlue; 
			color: $glacialWhite !important; 
			@include scale(1.05, 1.05); 
			@include boxshadow(3px, 3px, 3px, 2px, rgba(0, 0, 0, 0.2)); 
		}
		p { 
			font-family: $customFont; 
			font-size: 14px; 
			line-height: 1.3; 
			font-weight: 400; 
			margin: 0px; 
			text-align: left; 
			margin: 0 0 15px 0px; 
		}
		p.name { 
			font-size: 20px; 
			font-weight: 700;
			margin: 0px; 
		}
		p.title { 
			font-size: 14px; 
			font-weight: 400; 
			margin: 0px; 
		}
	}
	.inverse { 
		margin: 80px 0 0 0; 
		.bubble-arrow { 
			left: -10px; 
			right: auto; 
			background-position: right top; 
		}
		.bubble { 
			margin: 0px 0px 0 30px; 
		}
		.timestamp { 
			float: left; 
			p.date, p.time { 
				text-align: left; 
				margin: 0 0 0 50px; 
			}
			p.date { 
				margin-top: 10px; 
			}
		}
		.bubble { 
			float: left; 
			img { 
				left: auto; 
				right: -34px; 
			}
		}
	}
	li:nth-child(1){
		@include animationDelay(0.2s);
	}
	li:nth-child(2){
		@include animationDelay(0.4s);
	}
	li:nth-child(3){
		@include animationDelay(0.8s);
	}
	li:nth-child(4){
		@include animationDelay(1s);
	}
	li:nth-child(5){
		@include animationDelay(1.2s);
	}
	li:nth-child(6){
		@include animationDelay(1.4s);
	}
	li:nth-child(7){
		@include animationDelay(1.6s);
	}
	li:nth-child(8){
		@include animationDelay(1.8s);
	}
	li:nth-child(9){
		@include animationDelay(2s);
	}
	li:nth-child(10){
		@include animationDelay(2.2s);
	}
}

/*  ---------------------
   |       SOCIAL        |
    ---------------------  */
#social-network {
	background:url(../images/city.jpg) 0 no-repeat; height: 350px; 
	text-align: center;
	h2 {
		font-size: 3em; 
		margin: 45px 0; 
		color: $oldPink;
	}
} 
@media screen and (max-width: 480px) {
  	#social-network h2 {
	  font-size: 2em; 
	}
}
.social-icon {
	li {
		margin-left: 5px; 
		margin-right: 5px; 
		margin-top: 30px; 
		a {
			@include border-radius(50%);
			// -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; 
			@include transitionproperty(background-color);
			@include transitionduration(0.4s);
			@include transitiontiming(linear);
			// -webkit-transition-property: background-color; -moz-transition-property: background-color; -o-transition-property: background-color; transition-property: background-color; 
			// -webkit-transition-duration: 0.4s; -moz-transition-duration: 0.4s; -o-transition-duration: 0.4s; transition-duration: 0.4s; 
			// -webkit-transition-timing-function: linear; -moz-transition-timing-function: linear; -o-transition-timing-function: linear; transition-timing-function: linear; 
			display: block; 
			width: 60px; 
			height: 60px; 
			font-size: 33px; 
			line-height: 57px; 
			text-align: center; 
			color: $white; 
			border: 2px solid $white; 
			&:hover {
				background-color: $glacialWhite; 
				color: $oldPink; 
			}
		}
	}
}
@media screen and (max-width: 480px) {
	.social-icon {
		width: 100%; 
		text-align: center; 
		li {
			margin-left: 3px; 
			margin-right: 3px; 
		}
	}
}


/*  ---------------------
   |       FOOTER        |
    ---------------------  */
section.footer { 
	background:url(../images/1.jpg) 50% no-repeat fixed; 
	p { 
		font-size: 14px; 
		color: $darkGrey; 
		text-align: center; 
		margin-right: 10px;
	}
}


/*  ---------------------
   |         PLUS        |
    ---------------------  */
input, textarea { 
	-webkit-appearance: none; 
}

/* CSS Keyframe Animations */
.animated { -webkit-animation-fill-mode: both; -moz-animation-fill-mode: both; -ms-animation-fill-mode: both; -o-animation-fill-mode: both; animation-fill-mode: both; -moz-animation-timing-function: ease-in-out; -webkit-animation-duration: 1s; -moz-animation-duration: 1s; -ms-animation-duration: 1s; -o-animation-duration: 1s; animation-duration: 1s; }

@-webkit-keyframes fadeInUp { 0% { opacity: 0; -webkit-transform: translateY(20px); }
  100% { opacity: 1; -webkit-transform: translateY(0); } }
@-moz-keyframes fadeInUp { 0% { opacity: 0; -moz-transform: translateY(20px); }
  100% { opacity: 1; -moz-transform: translateY(0); } }
@-o-keyframes fadeInUp { 0% { opacity: 0; -o-transform: translateY(20px); }
  100% { opacity: 1; -o-transform: translateY(0); } }
@keyframes fadeInUp { 0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); } }
.fadeInUp { -webkit-animation-name: fadeInUp; -moz-animation-name: fadeInUp; -o-animation-name: fadeInUp; animation-name: fadeInUp; }

@media only screen and (max-width: 768px) { 
	.navbar-flat li { 
		display: inline-block; 
	} 
	.section .profilePic { 
		max-width: 100%; 
	} 
	#social-network { 
		height: 420px !important; 
	} 
}
@media only screen and (max-width: 765px) { 
	.navbar-brand { 
		display: block !important; 
	}
	.navbar-flat li { 
		display: inline; 
	}
	section.experience {
		height: 950px;
	}
	.experience-line { 
		background-position: 38px top;
		li, .inverse { 
			margin: 0px 0 20px 43px; 
			width: 85%; 
		}
		.point, .inverse .point { 
			left: -32px; 
			right: auto; 
		}
		.timestamp, .bubble { 
			float: left; 
		}
		.bubble, .inverse .bubble { 
			margin: 0px 0 0 30px; 
			width: 80%; 
			padding: 22px 30px 25px 32px; 
		}
		.bubble-arrow { 
			background-position: right top; 
			left: -10px; 
			right: auto; 
		}
	}
}
@media only screen and (max-width: 1700px) {
	#home {
		background:url(../images/2.jpg) 50% no-repeat fixed;
	}
}